@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-navbar .custom-logo{
    width: 11rem;
    filter : invert(1);
}

.dark .custom-navbar .custom-logo{
    filter: invert(0);
}

.custom-navbar .custom-icons{
    color: var(--accent);
}

.dark .custom-navbar .custom-icons{
    color: var(--text);
}

.custom-navbar .custom-icons svg {
    width: 2rem;
    height: 2rem;
}